#news{
    width: 100%;

}
#news .newsL{
    position: relative;
    width: 250px;
    height: 420px;
    float: left;
    margin-right: 20px;
}
#news .newsL .newsLUl{
    width: 100%;
    padding: 15px 0;
}
#news .newsL .newsLUl li{
    font-weight: 500;
    font-size: 14px;
    padding:0 15px;
    width: 100%;
    height: 40px;
    line-height: 40px;

}
#news .newsL .newsLUl li span{
    float: right;
    margin-top: 10px;
}
#news .newsL .newsLUl{
    background: url("../img/p-linxibg.jpg");
}
#news .newsL .newsLUl li:hover{
    background: #ddd;
    border-top: 2px solid #000000;

}
#news .newsL .newscontent p{
    margin-top: 20px;
    padding:0 15px;
}
#news .newsL .newscontent .hasbg{
    width: 100%;
    height: 100px;
    background: url("../img/p-linxibg.jpg") no-repeat 100% 100%;
}
#news .newsR{
    float: left;
    width: 710px;
    padding:0  15px;
}
#news .newsR li{
    border-bottom: 1px dashed #bbb;
}
/* #news .newsR .newRdiv1,#news .newsR .newRdiv2,#news .newsR .newRdiv3{
     display: none;
 }*/
#news .newsR .newsRdiv1{
   display: none;
    width: 100%;

}
#news .newsR .newsRdiv1 ul li{
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;

}
#news .newsR .newsRdiv1 ul li span{
    margin-right: 20px;
}
#news .newsR .newsRdiv1 ul li.on{
    display: block;
}
#news .newsR .newsRdiv1 ul li:hover{
    background: #ddd;
}
#news .newsR .newsRdiv1 .pagebox{
    height: 30px;
    margin-left: 100px;

}
#news .newsR .newsRdiv1.on{
    display: block;
}
#news .newsR .newsRdiv1 .pagebox>*{
    cursor: pointer;
    float: left;
    margin-left: 5px;
}
#news .newsR .newsRdiv1 .pagebox>div{
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #dddddd;
}
#news .newsR .newsRdiv1 .pagebox>span{
    display: inline-block;
    margin-top: 8px;
}
#news .newsR .newsRdiv1 .pagebox>input{
    text-align: center;
    width: 20px;
    height: 30px;
}
















